html, body, div, canvas {
    margin: 0;
    padding: 0;
}
canvas{
  margin: 0;
}

.left {
  display: flex;
  position: absolute;
  top: 0; left: 0; bottom:0;
  width: 300px;
  background-color: #E8EBF7;
  justify-content: center;
}

#generateBtn {
    background-color: #292F36;
    border: none;
    color: #E8EBF7;
    width: 40%;
    margin: 30px;
    height: 16px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
